<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
    </settings>

    <typeAliases>
        <typeAlias type="org.opencloudengine.flamingo2.model.rest.AuditHistory" alias="auditHistory"/>
        <typeAlias type="org.opencloudengine.flamingo2.model.rest.Top10" alias="top10"/>
        <typeAlias type="org.opencloudengine.flamingo2.model.rest.NowStatus" alias="nowStatus"/>
        <typeAlias type="org.opencloudengine.flamingo2.model.rest.Trends" alias="trends"/>
        <typeAlias type="org.opencloudengine.flamingo2.model.rest.WorkflowHistory" alias="workflowHistory"/>
        <typeAlias type="org.opencloudengine.flamingo2.model.rest.ActionHistory" alias="actionHistory"/>
        <typeAlias type="org.opencloudengine.flamingo2.model.rest.Tree" alias="tree"/>
    </typeAliases>

</configuration>