// Source Sans Pro disabled temporarily for SenchaCon.  Revisit this in the future.
//$font-family: "Source Sans Pro", helvetica, arial, verdana, sans-serif !default;
$font-family: 'Apple SD Gothic Neo','Malgun Gothic', 'Heiti SC Light', 'Heiti TC Light', 'Microsoft Yahei', 'STXihei', 'Hiragino Kaku Gothic', 'Hiragino Kaku Gothic ProN', 'Meiryo', 'Noto Sans', 'san-serif' !default;
$font-size: 13px;
$enable-font-smoothing: false;

$base-color: #DFDFDF;
$panel-header-background-gradient: "none";
$panel-header-color: #FFFFFF;
$panel-header-background-color: #557BA1;
$panel-frame-border-radius: 1px;
$button-default-background-gradient: "none";
$button-default-background-gradient-over: "none";
$button-default-background-gradient-focus: "none";
$button-default-background-gradient-pressed: "none";
$button-default-background-gradient-disabled: "none";
$button-small-border-radius: 0;
$button-medium-border-radius: 0;
$button-large-border-radius: 0;
$tab-base-color: #ffffff;
$tab-color-active: #FFFFFF;
$tab-background-gradient: "none";
$tab-background-gradient-over: "none";
$tab-background-gradient-active: "none";
$tab-background-gradient-disabled: "none";
$tab-base-color-active: #557BA1;
$tab-base-color-focus-active: #557BA1;
$tab-background-gradient-focus: "none";
$tab-border-color-active: $tab-base-color-active;
$fieldset-header-font-size: 13px;
$window-border-radius: 1px;
$menu-item-background-gradient: "none";
$menu-item-active-border-radius: 1px;
$grid-row-cell-selected-background-color: #B8CADC;
